.taskForm {
    display: flex;
    gap: 8px;
    margin-top: calc(0px - 4rem - 0px);
 }
 
 
 .taskForm input {
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    width:638px;
    
    padding: 16px;
 
    background: var(--gray-500);
    color: var(--gray-300);
 }
 
 .taskForm button {
    border-radius: 8px;
    border: 0px;
 
    padding: 16px;
 
    background: var(--blue-500);
    color: var(--gray-100);
 }
 
 .taskForm button:hover {
    background: var(--blue-300);
 }
 