.headerTask {
   display: flex;
   justify-content: space-between;
}

section {
   padding-top: 64px;
}


.contTaskCreate , .contTaskDone {
   display: flex;
   gap: 8px
}

.contTaskCreate p{
   color: var(--blue-300);
   font-weight: bolder;   
}

.contTaskDone p{
   color: var(--purple-500);
   font-weight: bolder;  
}


.contTaskDone > span , .contTaskCreate > span{
  background: var(--gray-400);
  /* acima direita baixo esquerda */
  padding: 2px 8px 2px 8px;
  border-radius: 8px;
  color: var(--gray-200);
}

.taskForm {
   display: flex;
   gap: 8px;
   margin-top: calc(0px - 4rem - 0px);
}


.taskForm input {
   border-radius: 8px;
   border: 1px solid var(--gray-700);
   width: 638px;
   
   padding: 16px;

   background: var(--gray-500);
   color: var(--gray-300);
}

.taskForm button {
   display: flex;
   align-items: center;

   border-radius: 8px;
   border: 0px;
   padding: 16px;

   font-weight: bolder;

   background: var(--blue-500);
   color: var(--gray-100);
}

.taskForm button:hover {
   background: var(--blue-300);
}

.taskForm button svg {
   margin-left: 8px;
}

.areaTask {

}

.task {
   
}

.wrapper {
    max-width: 46rem;
    margin: 2rem auto;
    padding: 0 1rem;
    /* display: grid; */
    /* grid-template-columns: 256px 1fr; */
    align-items: flex-start;
 }
 
 
 @media (max-width: 736px){
    html {
       font-size: 87.5%;
    }
    .wrapper{
       grid-template-columns: 1fr;
    }
 }